body {
    background-color: #fcf5ed;
}

#calendar-container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px;
    margin: auto;
    max-width: 900px;
}